<ion-view view-title="LottoConfig" ng-controller="LottoConfigCtrl as vm" ng-init="vm.getImages()">
    <div class="bar bar-header bar-calm">
      <h1 class="title"> לוטו קונפיגורציה </h1>
        <a class="button icon-right ion-images" href="#/image">
        </a>
    </div>

  <ion-content class="has-header" direction="y">
    <div class="row imageStyle_Gallery">
      <!-- {addToGameObj: {lotto: true}} -->
      <div class="col col-33" ng-repeat="imageIndex in vm.images | displayLottoImages">
        <div ng-class="{&apos;addToLottoGameCssClass&apos;: !imageIndex.addToGameObj.lotto}" style="padding: 5px 5px 5px 5px; position: relative; left: 0; top: 0; background: greenyellow">
          <img ng-src="{{imageIndex.image}}" ng-click="vm.toggleImage(imageIndex)" style="width:100%; height:auto; position: relative; top: 0; left: 0;">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
