<ion-view view-title="Lotto">
  <div class="col responsive-sm" style="height: 100%">


    <div class="row lotto responsive-sm">
      <div class="col col-33 responsive-sm" ng-repeat="image in imagesData">
        <img id="{{$index}}" class="lotto" ng-src="{{'/lottoGame/img/'+imagesData[$index].fileName}}"
             ng-click="evaluate($event)"/>

      </div>
    </div>


    <div id="tempimg" class="row row-bottom responsive-sm">
      <div class="col col-33 responsive-sm">
        <img id="refresh" class="refresh"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVP3rekkouYBnWZrvv_5nhnf8VOHKM4oYQ4vazRgo_FOUmdYTECw"
             ng-click="refresh()"/>
      </div>
      <div class="col col-33 responsive-sm">
        <img id="tempid"/>
      </div>
    </div>
  </div>
</ion-view>

<script src="lottoModule.js"></script>
<script src="lottoCtrl.js"></script>

