
<ion-view view-title="Memory" ng-controller="MemoryCtrl as vm">

  <div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-ios-arrow-back" on-tap="vm.goBack()"></a>
    <h1 class="title">משחק הזיכרון</h1>
    <a class="button button-icon icon ion-settings" href="#/memoryConfig"></a>
  </div>

  <ion-content scroll="false" class="has-header" ng-init="vm.getImages()">
    <div class="row imageStyle_Gallery">
      <div class="col col-25" ng-repeat="imageIndex in vm.memoryImagesMatrix">
          <div ng-class="{&apos;animated tada&apos;: imageIndex.animate}">
            <img class="imgMemory" ng-src="{{imageIndex.src}}" style="object-fit: cover;" ng-click="vm.toggleImage(imageIndex)" style="width:100%; height:auto; position: relative; top: 0; left: 0;">
          </div>
      </div>
    </div>
  </ion-content>

 </ion-view>
