.addToMemoryGameCssClass{
  background: red !important;
}

.imageStyle_Gallery {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.imgMemory {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding-right: 10px;
  padding-left: 10px;
}

.currentImageBackgroundColor{
  background: greenyellow !important;
}

.imgUsersList {
  position: relative;
  float: left;
  width:  50px;
  height: 50px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding-right: 10px;
  padding-left: 10px;
}

.hideImg {
  visibility:hidden
}

.iconHeight64 {
  font-size: 64px;
}

.iconHeight32 {
  font-size: 32px;
}

.rowHeight64 {
  height: 64px;
}

.rowHeight32 {
  height: 32px;
}

.textNumber {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
