<ion-view view-title="Image" ng-controller="ImageCtrl as vm" ng-init="vm.getImages()">
    <div class="bar bar-header bar-calm">
      <button class="button icon-left ion-trash-a" ng-click="vm.showDeleteOptions()" ng-hide="varShowDeleteOptions"></button>
        <h1 class="title">
תמונות</h1>
        <button class="button icon-right ion-plus-circled" ng-click="vm.imagePicker()"></button>
    </div>

  <ion-content class="has-header" direction="y">
    <div class="row imageStyle_Gallery">
      <div class="col col-33" ng-repeat="imageIndex in vm.images">
          <div style="padding: 5px 5px 5px 5px; position: relative; left: 0; top: 0;">
              <img ng-src="{{imageIndex.image}}" style="width:100%; height:auto; position: relative; top: 0; left: 0; z-index: -1;">
              <div ng-show="varShowDeleteOptions">
                <ion-checkbox style="position: absolute; top: 5px; left: 5px; border-style: none; background-color: transparent; " ng-model="imageIndex.checkedToDelete" ng-change="vm.addCounterForDeleteButton(imageIndex)"></ion-checkbox>
              </div>
          </div>
      </div>
    </div>
  </ion-content>

   <div id="footerBar" class="bar bar-footer bar-calm" ng-show="varShowDeleteOptions">
     <button class="button" ng-click="vm.showTrashCanIcon()"> ביטול </button>
     <button class="button" ng-disabled="vm.deleteButtonDisable" ng-click="vm.deleteImages()"> מחק </button>
   </div>

</ion-view>
