<ion-view view-title="Image" ng-controller="ImageCtrl as vm">
    <div class="bar bar-header bar-calm">
      <button class="button icon-left ion-trash-a" ng-click="vm.showDeleteOptions()" ng-hide="varShowDeleteOptions"></button>
        <h1 class="title">
תמונות</h1>
        <button class="button icon-right ion-plus-circled" ng-click="vm.imagePicker()"></button>
    </div>

  <ion-content class="has-header" direction="y">
        <ion-list>
          <ion-item ng-repeat="imageIndex in vm.images">
            <div style="position: relative; left: 0; top: 0;">
              <img ng-src="{{imageIndex.image}}" style="height:200px; padding: 5px 5px 5px 5px; position: relative; top: 0; left: 0; z-index: -1;">
              <ion-checkbox ng-show="varShowDeleteOptions"  style="position: absolute; top: 20px; left: 10px; border-style: none; background-color: transparent; " ng-model="image.isCheckedToDelete"></ion-checkbox>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>

   <div id="footerBar" class="bar bar-footer bar-calm" ng-show="varShowDeleteOptions">
     <button class="button" ng-click="vm.showTrashCanIcon()"> ביטול </button>
     <button class="button" ng-click="vm.deleteImages()"> מחק </button>
   </div>

</ion-view>
